{% load cache %}
{% cache 3600 footer %}
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'about' %}" target="_blank">About</a> &middot;
      <a href="{% url 'privacy' %}" target="_blank">Privacy</a> &middot;
      <a href="http://srct.gmu.edu/documents/usage_policy" target="_blank">Terms of Service</a>
      <br />
      <i class="fa fa-fw fa-envelope"></i>
      <a href="mailto:roomlist@lists.srct.gmu.edu">
        roomlist@lists.srct.gmu.edu
      </a>&middot;
      <i class="fa fa-fw fa-twitter"></i>
      <a href="https://twitter.com/MasonSRCT">
        @MasonSRCT
      </a>
    </div>
    <div class="col-md-6">
      <span class="footer-right">
        A <a href="http://srct.gmu.edu/projects" target="_blank">project</a> of
        <a href="http://www.gmu.edu/" target="_blank">Mason</a>
        <a href="http://srct.gmu.edu/" target="_blank"><strong>SRCT</strong></a>, a
        <a href="https://getconnected.gmu.edu/organization/srct" target="_blank">registered student org</a>.
      </span>
      <br />
      <span class="footer-right">
        Read and
        <a href="https://git.gmu.edu//srct/roomlist/milestones/" target="_blank">contribute</a>
        to our
        <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank">freely-licensed</a>
        <a href="http://git.gmu.edu/srct/roomlist/tree/master" target="_blank">source code</a>.</p>
      </span>
    </div>
  </div>
</div>
{% endcache %}
