{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | New Student Signup {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 text-center">
      <h1><strong><a href="#">RoomList</a></strong> New Student Signup</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Student</strong></h1>   
      </div>

      <div class="panel-body">
        {% crispy form %}
      </div>
    </div>

  </div>
</div>


{% endblock %}
