{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | Remove Flag {{ confirmation.student.user.get_full_name }}  {% endblock %}

{% block message_queue %}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>&#8203;ROOMLIST</h1>
      <p class="lead text-center">
      <i class="fa fa-flag fa-lg"></i>
      Maybe
      <strong>
      {% if not confirmation.student.user.get_full_name %}
        Someone
      {% else %}
        {{ confirmation.student.user.get_full_name }}
      {% endif %}
      </strong>
      <em>is in the correct room after all...</em>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <form action="" method="post">{% csrf_token %}
      <input type="submit" value="Confirm" class="btn btn-primary"/>
      <input type="cancel" value="Never Mind" class="btn btn-default" onclick="history.back()"/>
    </form>
  </div>
</div>

{% endblock %}
