{% extends 'layouts/base.html' %} {% block title %} SRCT Roomlist | {{ student.user.first_name }} {{ student.user.last_name }} {% endblock %} {% load socialaccount %} {% block content %}

<!--  gravatar_url student.user.email 175 %} -->
{% load gravatar %}
{% get_social_accounts student.user as accounts %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 text-center">
      <img class="img-circle img-responsive center center-block" src="{{ student.profile_image_url }}" alt="{{ student.user.first_name }} profile picture">
    </div>

    <div class="col-md-6 text-center">
      <h1><strong>{{ student.user.get_full_name }}</strong></h1>
      {% if shares %}
        <p class="lead"><strong>
        {% if student.room == None %}
          {{ student.user.first_name }} hasn't set their room yet.
        {% else %}
          <a href="{{ student.room.get_absolute_url }}">{{ student.room }}</a>
          {% if same_floor %}
            {% if has_flagged %}
              <a href="{% url 'deleteConfirmation' student.slug my_flag.slug %}">
                <small><span style="padding-left:15px" class="fa-stack fa-lg">
                  <i class="fa fa-flag fa-stack-1x"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span></small>
              </a>
            {% else %}
              <a href="{% url 'createConfirmation' student.slug %}">
                <i style="padding-left:15px" class="fa fa-flag"></i>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
        </strong></p>
        {% if student.get_flag_count > 4 %}
        <p><em>* a number of other floormates say this room info is incorrect</em></p>
        {% endif %}
      {% endif %}
      <p><em>shares room with</em>: <span class="label label-default"><strong>{{ student.privacy }}</strong></span></p>
    </div>
  </div>
</div>

{% load accounts_extras %}

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <table class="table table-hover text-center">
      <tbody>
        <tr>
          <td><h4><strong>Major</strong>:
            {% if student.major %}
              {{ student.major.name }}
            {% else %}
              &nbsp;&mdash;
            {% endif %}
          </h4></td>
        </tr>

        <tr>
          <td><h4><strong>Class of</strong>:
          {% if student.graduating_year == None %}
              &nbsp;&mdash;
          {% else %}
             {{ student.graduating_year|bc }}
          {% endif %}</h4></td>
        </tr>

        <tr>
          <td><h4><strong>Email</strong>: {{ student.user.email }}</h4></td>
        </tr>
        {% if student.show_gender %}
          <tr>
            <td><h4><strong>Gender</strong>:
              {% for gender in student.gender %}
                {% if gender == 'female' %}
                  <i class="fa fa-venus"></i>
                {% elif gender == 'male' %}
                  <i class="fa fa-mars"></i>
                {% elif gender == 'intersex' %}
                  <i class="fa fa-transgender"></i>
                {% elif gender == 'trans' %}
                  <i class="fa fa-transgender-alt"></i>
                {% elif gender == 'genderless' %}
                  <i class="fa fa-genderless"></i>
                {% elif gender == 'other' %}
                  <i class="fa fa-mars-stroke-v"></i>
                {% endif %}
              {% endfor %}
            </h4></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="col-md-5">
    <table class="table table-hover text-center">
      <tbody>
        <tr>
          <td class="col-md-4">
           <h4><i class="fa fa-facebook fa-lg"></i></h4>
          </td>
          <td class="col-md-8">
            {% if accounts.facebook %} <h4><a href="https://facebook.com/{{ accounts.facebook.0.uid }}" target="_blank">Facebook account</a></h4> {% else %} <h4>&mdash;</h4> {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <h4><i class="fa fa-google fa-lg"></i></h4>
          </td>
          <td>{% if accounts.google %} <h4><a href="https://plus.google.com/{{ accounts.google.0.uid }}" target="_blank">Google+ account</a></h4> {% else %} <h4>&mdash;</h4> {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <h4><i class="fa fa-twitter fa-lg"></i></h4>
          </td>
          <td>
            {% if accounts.twitter %} <h4><a href="https://twitter.com/{{ accounts.twitter.0.extra_data.screen_name }}" target="_blank">@{{ accounts.twitter.0.extra_data.screen_name }}</a></h4> {% else %} <h4>&mdash;</h4> {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <h4><i class="fa fa-instagram fa-lg"></i></h4>
          </td>
          <td>
            {% if accounts.instagram %} <h4><a href="https://instagram.com/{{ accounts.instagram.0.extra_data.username }}" target="_blank">@{{ accounts.instagram.0.extra_data.username }}</a></h4> {% else %} <h4>&mdash;</h4> {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<legend></legend>
{% include 'disclaimer.html' %}

{% endblock %}
