{% extends 'layouts/base.html' %}
{% block title %} SRCT Roomlist | Majors | {{ major.name }} {% endblock title %}
{% block content %}
{% load cache %}
{% cache 15 major_students request.user.username major %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</h1>
      <p class="lead"><strong>{{ major.name }}</strong></p>
    </div>
  </div>
</div>

{% load gravatar %}
{% load accounts_extras %}

{% regroup major_students by graduating_year as students %}

{% for graduating_year in students %}
<legend>{{ graduating_year.grouper|bc }}</legend>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% for student in graduating_year.list %}
          <div class="col-sm-3 text-center">
            <img class="img-circle img-responsive center center-block" src="{{ student.profile_image_url }}" alt="{{ student.get_first_name_or_uname }} profile picture">
            <h4><a href="{{ student.get_absolute_url }}"><strong>{{ student.get_full_name_or_uname }}</strong></a></h4>
            {% if student.get_flag_count > 4 %}
              <p><em>* a number of other floormates say this info is incorrect</em></p>
            {% endif %}
          </div>
        {% if forloop.counter|divisibleby:4 %}
      </div>
      <br />
      <div class="row">
        {% endif %}
        {% empty %}
        <div class="col-md-12">
          <p>No visible students.</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<hr />
{% include 'disclaimer.html' %}

{% endcache %}
{% endblock content %}
