{% extends 'layouts/base.html' %}
{% block title %}
SRCT Roomlist &bull; Majors &bull; {{ major.name }}
{% endblock title %}
{% block content %}
{% load cache %}
{% cache 15 major_students request.user.username major %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>{{ major.name }}</strong></h1>
    </div>
  </div>
</div>

{% load gravatar %}
{% load accounts_extras %}

{% for graduating_year, students in students_by_year.items %}
<legend>
  <a name="{{ graduating_year }}" href="#{{ graduating_year }}">
  {{ graduating_year|bc }}</a>
</legend>

<div class="student-row">
  <div class="row">
    {% for student in students %}
      <div class="col-sm-3 col-xs-6 text-center wordwrap">
        <img class="img-circle img-responsive center center-block profile-image"
             src="{{ student.profile_image_url }}"
             alt="{{ student.get_first_name_or_uname }} profile picture">
        <h4><strong>
          <a href="{{ student.get_absolute_url }}">{{ student.get_full_name_or_uname }}</a>
        </strong></h4>
        {% if student.get_flag_count > 4 %}
          <p><em>* a number of other floormates say this info is incorrect</em></p>
        {% endif %}
        <br />
      </div>
    {% endfor %}
  </div>
</div>
{% empty %}
<div class="col-md-12 text-center">
  <p>No visible students.</p>
</div>
{% endfor %}

<br />
<hr />
{% include 'disclaimer.html' %}

{% endcache %}
{% endblock content %}
