{% extends 'layouts/base.html' %} {% block title %} SRCT RoomList | {{ student.user.first_name }} {{ student.user.last_name }} {% endblock %} {% load socialaccount %} {% block content %}

<!--  gravatar_url student.user.email 175 %} -->
{% get_social_accounts student.user as accounts %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-2 col-md-offset-1 text-center">
      <img class="img-circle img-responsive center center-block" src="{{ student.profile_image_url }}" alt="{{ student.user.first_name }} Gravatar picture">
    </div>
    <div class="col-md-6 text-center">
      <h1><strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong></h1>
      {% if shares %}
      <p class="lead"><strong><a href="{{ student.room.get_absolute_url }}">{{ student.room }}</a></strong></p>
      {% endif %}
      <p><em>shares room with</em>: <span class="label label-default"><strong>{{ student.privacy }}</strong></span></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <table class="table table-hover text-center">
      <tbody>
        <tr>
          <td><h4><strong>Major</strong>: {{ student.major.name }}</h4></td>
        </tr>

        <tr>
          <td><h4><strong>Email</strong>: {{ student.user.email }}</h4></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-5">
    <table class="table table-hover text-center">
      <tbody>
        <tr>
          <td>
           <h4><i class="fa fa-facebook fa-lg"></i></h4>
          </td>
          <td>
            {% if accounts.facebook %} <h4><a href="http://www.facebook.com/{{ accounts.facebook.0.uid }}" target="_blank">Facebook</a></h4> {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <h4><i class="fa fa-google fa-lg"></i></h4>
          </td>
          <td>{% if accounts.google %} <h4><a href="https://plus.google.com/{{ accounts.google.0.uid }}" target="_blank">Google+</a></h4> {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <h4><i class="fa fa-twitter fa-lg"></i></h4>
          </td>
          <td>
            {% if accounts.twitter %} <h4><a href="https://twitter.com/intent/user?user_id={{ accounts.twitter.0.uid }}" target="_blank">Twitter</a></h4> {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
