{% extends 'layouts/base.html' %}

{% block title %} SRCT Roomlist | Majors {% endblock title %}

{% block og_metadata %}
<meta property="og:title" content="SRCT Roomlist Majors"/>
<meta property="og:description" content="Undergraduate majors on SRCT Roomlist. Log in with your Mason username and password to find your on-campus neighbors."/>
{% endblock %}

{% block tw_metadata %}
<meta name="twitter:title" content="SRCT Roomlist Majors" />
<meta name="twitter:description" content="Undergraduate majors on SRCT Roomlist. Log in with your Mason username and password to find your on-campus neighbors." />
{% endblock tw_metadata %}

{% block content %}

{% include 'no_auth.html' %}

{% load cache %}
{% cache 3600 list_majors %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</h1>
      <p class="lead"><strong>Majors</strong></p>
    </div>
  </div>
</div>

{% regroup majors by first_letter as majors_by_letter %}

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h3>
    &middot;
    {% for letter in majors_by_letter %}
      <a href="#{{ letter.grouper }}">{{ letter.grouper }}</a> &middot;
    {% endfor %}
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    {% for letter in majors_by_letter %}
    <legend><a name="{{ letter.grouper }}" href="#{{ letter.grouper }}">{{ letter.grouper }}</a></legend>
      <div class="major-row">
        <div class="row">
        {% for major in letter.list %}
          <div class="col-md-6 minor-padding text-center">
            <a href="{{ major.get_absolute_url }}" class="btn btn-primary btn-block btn-lg btn-mobile">
            {% if major.name|length > 39 %}
              <small>{{ major.name }}</small>
            {% else %}
              {{ major.name }}
            {% endif %}
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
      <br />
    {% empty %}
    No majors in the database. :'-(
    {% endfor %}
  </div>
</div>

{% endcache %}
{% endblock content %}
