{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | Remove Social Accounts {% endblock %}

{% block message_queue %}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>&#8203;ROOMLIST</h1>
      <p class="lead text-center">Remove My Social Media Accounts</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Connected Social Media Accounts</strong></h1>
      </div>
      <div class="panel-body">
        <form class="form-horizontal text-center" method="post" action="">{% csrf_token %}
  
          <fieldset>
          {% if form.non_field_errors %}
          <div id="errorMsg">{{ form.non_field_errors }}</div>
          {% endif %}
          
          {% for base_account in form.accounts %}
          {% with base_account.get_provider_account as account %}
          <div>
            <p><label for="id_account_{{ base_account.id }}" style="font-size:20px">
            <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
            <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">
              <i class="fa fa-{{base_account.provider}} fa-lg fa-fw"></i>
              {{account.get_brand.name}}
            </span>
            <small><em>{{ account }}</em></small>
          </label></p>
          </div>
          {% endwith %}
          {% endfor %}
          
          <div>
            <input type="submit" value="Remove" class="btn btn-danger"/>
            <input type="cancel" value="Never Mind" class="btn btn-default" onclick="history.back()"/>
          </div>
          
          </fieldset>
        
        </form>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="alert alert-danger" role="alert">
       <p><i class="fa fa-exclamation-circle fa-fw fa-lg"></i> While this form will
       immediately delete your account from our database, it may still exist for
       a time on the related social media account's database. Check that social media
       profile's authorized apps page for more information.</p>
   </div>
  </div>
</div>

{% endblock %}
