{% load humanize %}
<div class="col-md-3 col-sm-6">
<label>Neighborhood</label><br/>
<select id="neighborhood" name="neighborhood" class="form-control">
  {% for neighborhood in neighborhoods %}
    {% if user.student.get_building.neighbourhood == neighborhood.0 %}
      <option value="{{ neighborhood.0  }}" selected="selected">{{ neighborhood.1 }}</option>
    {% else %}
      <option value="{{ neighborhood.0  }}">{{ neighborhood.1 }}</option>
    {% endif %}
  {% endfor %}
</select>
</div>
<div class="col-md-3 col-sm-6">
<label>Building</label><br/>
<select id="building" name="building" class="form-control">
  <option value="">---</option>
  {% for building in buildings %}
    {% if user.student.get_building == building %}
      <option value="{{ building.name }}" class="{{ building.neighbourhood }}" selected="selected">
        {{ building.name }}
      </option>
    {% else %}
      <option value="{{ building.name }}" class="{{ building.neighbourhood }}">
        {{ building.name }}
      </option>
    {% endif %}
  {% endfor %}
</select>
</div>
<div class="col-md-3 col-sm-6">
<label>Floor</label><br/>
<select id="floor" name="floor" class="form-control">
  <option value="">---</option>
  {% load cache %}
  {% cache 3600 floor_list %}
  {% for floor in floors %}
    <option value="{{ floor.pk }}" class="{{ floor.building.name }}">
      {{ floor.number|ordinal }}
    </option>
  {% endfor %}
  {% endcache %}
</select>
</div>
<div class="col-md-3 col-sm-6">
<label>Room</label><br/>
<select id="room" name="room" class="roompicker form-control">
  <option value="">---</option>
  {% cache 3600 room_list %}
  {% for room in rooms %}
    <option value="{{ room.pk }}" class="{{ room.floor.pk }}">{{ room.number }}</option>
  {% endfor %}
  {% endcache %}
</select>
</div>
