{% load humanize %}
<label>Neighborhood</label>&nbsp;
<select id="neighborhood" name="neighborhood">
  {% for neighborhood in neighborhoods %}
    {% if user.student.get_building.neighbourhood == neighborhood.0 %}
      <option value="{{ neighborhood.0  }}" selected="selected">{{ neighborhood.1 }}</option>
    {% else %}
      <option value="{{ neighborhood.0  }}">{{ neighborhood.1 }}</option>
    {% endif %}
  {% endfor %}
</select>
&nbsp;&nbsp;<label>Building</label>&nbsp;
<select id="building" name="building">
  <option value="">---</option>
  {% for building in buildings %}
    {% if user.student.get_building == building %}
      <option value="{{ building.name }}" class="{{ building.neighbourhood }}" selected="selected">{{ building.name }}</option>
    {% else %}
      <option value="{{ building.name }}" class="{{ building.neighbourhood }}">{{ building.name }}</option>
    {% endif %}
  {% endfor %}
</select>
&nbsp;&nbsp;<label>Floor</label>&nbsp;
<select id="floor" name="floor">
  <option value="">---</option>
  {% load cache %}
  {% cache 3600 floor_list %}
  {% for floor in floors %}
      <option value="{{ floor.pk }}" class="{{ floor.building.name }}">{{ floor.number|ordinal }}</option>
  {% endfor %}
  {% endcache %}
</select>
&nbsp;&nbsp;<label>Room</label>&nbsp;
<select id="room" name="room" class="roompicker">
  <option value="">---</option>
  {% cache 3600 room_list %}
  {% for room in rooms %}
      <option value="{{ room.pk }}" class="{{ room.floor.pk }}">{{ room.number }}</option>
  {% endfor %}
  {% endcache %}
</select>
