{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | {{ student.user.first_name }} {{ student.user.last_name }} {% endblock %}

{% block reminder %}
{% endblock %}

{% block content %}

{% load socialaccount %} {% load gravatar %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <img class="img-circle img-responsive center center-block" src="{{ student.profile_image_url }}" alt="{{ student.user.first_name }} Gravatar picture">
      <h1>{{ student.user.first_name }} {{ student.user.last_name }}, {{ student.user.username }}</h1>
    </div>
  </div>
</div>

{% load socialaccount %} {% providers_media_js %}

<legend>Account Settings</legend>

<div class="row">
  {{ student }} text text text {{ request.user }}
  <a href="{% url 'updateStudent' request.user.student.slug %}">
    <div class="col-md-3 text-center">
      <h4><i class="fa fa-lock fa-5x"></i></h4>
    <h4>Set Your Room and Privacy</h4>
    </div>
  </a>
  <a href="{% url 'updateStudentMajor' request.user.student.slug %}">
    <div class="col-md-3 text-center">
      <h4><i class="fa fa-graduation-cap fa-5x"></i></h4>
      <h4>Set Your Major</h4>
    </div>
  </a>
</div>

<legend style="margin-top: 50px">Social Media Settings</legend>

<div class="row" style="margin-top: 50px">
  <a href="{% provider_login_url 'facebook' method='js_sdk' process='connect' next='/accounts/student/' %}">
    <div class="col-md-3 text-center">
      <h4><i class="fa fa-facebook fa-5x"></i></h4>
      <h4>Link to your Facebook</h4>
    </div>
  </a>
  <a href="{% provider_login_url 'google' process='connect' next='/accounts/student/' %}">
    <div class="col-md-3 text-center">
      <h4><i class="fa fa-google fa-5x"></i></h4>
      <h4>Link to your Google</h4>
    </div>
  </a>
  <a href="{% provider_login_url 'twitter' process='connect' next='/accounts/student/' %}">
    <div class="col-md-3 text-center">
      <h4><i class="fa fa-twitter fa-5x"></i></h4>
      <h4>Link to your Twitter</h4>
    </div>
  </a>
  <div class="col-md-3 text-center">
    <!--<a href="{% provider_login_url 'instagram' process='connect' next='/accounts/student/' %}"><i class="fa fa-instagram fa-5x"></i></a>-->
    <h4><i class="fa fa-instagram fa-5x"></i></h4>
    <h4>Link to your Instagram (Soon!)</h4>
  </div>
</div>

{% endblock %}
