{% extends 'layouts/base.html' %}

{% block title %} SRCT Roomlist | Student | Update {% endblock %}

{% block message_queue %}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</a></strong> Student Update</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Welcome, {{ request.user.first_name }}!</strong></h1>
      </div>

      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
          {{ my_form.as_p }}
          <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
      </div>
    </div>

  </div>
</div>


{% endblock %}
