{% extends 'layouts/base.html' %}
{% block title %}
SRCT Roomlist &bull; My Settings
{% endblock %}

{% block css %}
<link href="/static/css/chosen.min.css" rel="stylesheet" media="screen">
{% endblock css %}

{% block message_queue %}
{% endblock %}

{% block content %}
{% load cache %}
{% cache 4 student_update request.user.username %}

{% include 'room_change_warning.html' %}

{% comment %} moves the messages to below the room change warning {% endcomment %}
{% include 'messages.html' %}

{% load accounts_extras %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>My Settings</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Profile Settings</strong></h1>
      </div>
      <div class="panel-body">
        <p class="small">
          <i class="fa fa-fw fa-info-circle"></i>
          Unfortunately we do not support uploading images for your profile picture.
          Connect your Facebook account, or add your
          <a href="http://masonlive.gmu.edu/">@masonlive.gmu.edu</a>
          email address to <a href="https://en.gravatar.com/">Gravatar</a>.
        </p>
        <hr />
        {% if form.non_field_errors %}
        <ul class="text-center">
          {% for error in form.non_field_errors %}
            <li class="text-danger">
              <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
            </li>
          {% endfor %}
        </ul>
        <hr />
        {% endif %}
        {% spaceless %}
        <form class="form-horizontal" autocomplete="off" action="" method="post">
        {% csrf_token %}
          <fieldset>
          {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-sm-6">
              <label for="{{ form.first_name.id_for_label }}">First Name</label>
                {% if not form.first_name.errors %}
                  {{ form.first_name }}
                {% else %}
                  <div class="has-error">
                    {{ form.first_name }}
                    <p>{{ form.first_name.errors }}</p>
                  </div>
                {% endif %}
              </div>
            <div class="col-sm-6">
              <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {% if not form.last_name.errors %}
                  {{ form.last_name }}
                {% else %}
                  <div class="has-error">
                    {{ form.last_name }}
                    <p>{{ form.last_name.errors }}</p>
                  </div>
                {% endif %}
            </div>
          </div>
          {% if form.gender.errors %}
            {% for error in form.gender.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <label for="{{ form.gender.id_for_label }}" class="col-xs-12">
              Gender Identity
              <p class="help-block">(choose all that apply)</p>
            </label>
              {% for checkbox in form.gender %}
                <div class="checkbox col-md-3 col-sm-3 col-sm-offset-1 col-xs-5 col-xs-offset-1">
                  <label for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label|gender_icon }}
                    {{ checkbox.tag }}
                  </label>
                </div>
              {% endfor %}
          </div>
          {% if form.show_gender.errors %}
            {% for error in form.show_gender.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-md-4">
            <label for="{{ form.show_gender.id_for_label }}">
              Show Gender on Profile?
            </label><br />
              {% for option in form.show_gender %}
                <label class="radio-inline">{{ option.choice_label }}{{ option.tag }}</label>
              {% endfor %}
            </div>
          </div>
          <hr />
          {% if form.major.errors %}
            {% for error in form.major.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-lg-9">
            <label for="{{ form.major.id_for_label }}">
              Major(s)
            </label><br />
              {{ form.major }}
            </div>
          </div>
          {% if form.graduating_year.errors %}
            {% for error in form.graduating_year.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <label for="{{ form.graduating_year.id_for_label }}">
                Graduating Year
              </label>
                {{ form.graduating_year }}
            </div>
          </div>
          {% if not request.user.student.recent_changes > 2 %}
          <hr />
          {% if form.on_campus.errors %}
            {% for error in form.on_campus.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          {% if request.user.student.is_staff %}
          <p class="help-block">Contact us if you are no longer a Resident Advisor or Director at
          <a href="mailto:roomlist@lists.srct.gmu.edu">roomlist@lists.srct.gmu.edu</a>.</p>
          {% endif %}
          <div class="form-group">
            <div class="col-md-4">
            <label for="{{ form.on_campus.id_for_label }}">
              Do You Live on Campus?
            </label><br/>
              {% for option in form.on_campus %}
                <label class="radio-inline">{{ option.choice_label }}{{ option.tag }}</label>
              {% endfor %}
            </div>
          </div>
          <div id="lives-on-campus">
            <hr />
            <p class="help-block">
            The Global Center, the Townhouses, and Beacon Hall are not currently supported.<br />
            We'll let everyone know when we add them.</p>
            {% if form.room.errors %}
              {% for error in form.room.errors %}
                <p class="text-danger">
                  <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
                </p>
              {% endfor %}
            {% endif %}
            <div class="form-group">
              {{ form.room }}
            </div>
          </div>
          {% endif %}
          <hr />
          <p class="help-block">
            Your privacy settings affect the visibility of both your room and your social media accounts.
          </p>
          {% if form.privacy.errors %}
            {% for error in form.privacy.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-md-3 col-sm-6">
            <label for="{{ form.privacy.id_for_label }}">
              Privacy
            </label><br/>
              {{ form.privacy }}
            </div>
          </div>
          <hr />
          <p class="help-block">
            You will not be able to see these students, and they will not be able to see you.
          </p>
          {% if form.blocked_kids.errors %}
            {% for error in form.blocked_kids.errors %}
              <p class="text-danger">
                <i class="fa fa-exclamation-triangle fa-fw"></i> {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <div class="col-xs-12">
            <label for="{{ form.blocked_kids.id_for_label }}">
              Blocked Students
            </label>
              {{ form.blocked_kids }}
            </div>
          </div>
          <hr />
          <input type="submit" value="Save" class="btn btn-primary"/>
        </fieldset>
        </form>
        {% endspaceless %}
      </div>
    </div>
    {% if not request.user.student.is_staff %}
    <p><small>
      <a href="{% url 'delete_student' request.user.username %}">Delete Account</a>
    </small></p>
    {% endif %}
  </div>

{% include 'social/social_media_settings.html' %}

</div>

{% endcache %}
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="/static/js/chained.min.js"></script>
<script type="text/javascript" src="/static/js/chosen.min.js"></script>
<script>
$(".chosen-select").chosen({max_selected_options: 2,
                            width: "100%",
                            placeholder_text_multiple: '(select up to two)'});
$(".blocked-select").chosen({width: "100%",
                             placeholder_text_multiple: "(search by name)"});
</script>
{% include 'room_selection_script.html' %}
{% endblock javascript %}
