{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | Welcome | Step 2 of 4 {% endblock %}

{% block reminder %}
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</a></strong> Student Major</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Great! Now the reason you're here. Select which room you live in, and then choose who you want to be able to see where you live!</strong></h1>
      </div>

      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="alert alert-danger" role="alert">
      <p><i class="fa fa-exclamation-circle fa-fw fa-lg"></i> <strong>Changing your room here changes it only on this particular site.</strong></p>
      <p>To actually switch your room, you'll need to go through a lengthy process with the Housing Office.</p>
    </div>
  </div>
</div>


{% endblock %}
