Django==1.7
argparse==1.2.1
django-autoslug==1.7.2
django-braces==1.4.0
django-crispy-forms==1.4.0
django-gravatar2==1.1.4
django-localflavor==1.0
django-model-utils==2.2
psycopg2==2.5.4
six==1.8.0
wsgiref==0.1.2
