{% extends 'layouts/base.html' %}

{% block title %}
SRCT Roomlist &bull; Search Students
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center"><strong>SRCT</strong>&#8203;ROOMLIST</h1>
      <p class="lead text-center"><strong>Search</strong></p>
    </div>
  </div>
</div>

<form class="form-horizontal" method="get" action=".">
  <div class="form-group"> 
    <label for="{{ form.q.id_for_label }}" class="col-md-1 col-md-offset-3"><strong>Name</strong> or <strong>Username</strong></label>
    <div class="col-md-4">
      {{ form.q }}
    </div>
  <button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw fa-lg"></i></button>
  </div>
</form>

{% if query %}
<hr />

<div class="row">
  <div class="col-md-12">

    {% if page.object_list %}
      <table class="table table-hover">
        <thead>
          <th class="col-md-2"><h3><small>Username</small></h3></th>
          <th class="col-md-5"><h3><small>Name</small></h3></th>
          <th class="col-md-4"><h3><small>Major</small></h3></th>
          <th class="col-md-1"><h3><small>Year</small></h3></th>
        </thead>
    {% endif %}

    {% for result in page.object_list %}
      {% with result.object as student %}
      {% if not student in request.user.student.blocked_kids.all %}
      <tr>
        <td>
          <h4>{{ student.user.username }}</h4>
        </td>
        <td>
          <a href="{{ student.get_absolute_url }}">
           <h4><strong>{{ student.get_full_name_or_uname }}</strong></h4>
          </a>
        </td>
        <td>
            <h4>{% include 'double_major.html' %}</h4>
        </td>
        {% load accounts_extras %}
        <td>
          {% if student.graduating_year %}
            <h4>{{ student.graduating_year|bc }}</h4>
          {% else %}
            &nbsp;&mdash;
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% endwith %}
    {% empty %}
      <h3 class="text-center">No results found.</h3>
    {% endfor %}

    {% if page.object_list %}
      </table>
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">

    <ul class="pager">

      {% if page.has_previous %}
        <li class="previous">
          <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <a>
            <h4>&larr; Previous</h4>
          </a>
        </li>
      {% endif %}

      {% if page.has_next %}
        <li class="next">
          <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <a>
            <h4>Next &rarr;</h4>
          </a>
        </li>
      {% endif %}

    </ul>

  </div>
</div>
{% endif %}

<hr />
{% include 'disclaimer.html' %}

{% endblock %}
