{% extends 'layouts/base.html' %}
{% block title %} SRCT Roomlist &bull; {{ building.name }} {% endblock %}

{% block og_metadata %}
<meta property="og:title" content="SRCT Roomlist - {{ building.name }}"/>
<meta property="og:description" content="Do you live in {{ building.name }}? Log in with your Mason username and password to find your neighbors."/>
{% endblock %}

{% block tw_metadata %}
<meta name="twitter:title" content="SRCT Roomlist - {{ building.name }}" />
<meta name="twitter:description" content="Do you live in {{ building.name }}? Log in with your Mason username and password to find your neighbors." />
{% endblock tw_metadata %}

{% block content %}

{% include 'no_auth.html' %}

{% load cache %}
{% cache 3600 detail_building building %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</h1>
      <p class="lead"><strong>{{ building.name }}</strong></p>
    </div>
    <div class="col-md-10 col-md-offset-1"><h3>
      <ol id="breadcrumb" class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'list_buildings' %}">Buildings</a></li>
        <li class="active">{{ building.name }}</li>
      </ol>
    </h3></div>
  </div>
</div>

{% load humanize %}

<div class="row">
  {% for floor in floors %}
  <div class="col-sm-3 text-center">
    <a href="{{ floor.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ floor.number|ordinal }} Floor</a>
  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
<br />
<div class="row">
  {% endif %}
  {% endfor %}
</div>

{% endcache %}
{% endblock %}
