{% extends 'layouts/base.html' %}
{% block title %} SRCT RoomList &bull; {{ building.name }} {% endblock %}
{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>ROOMLIST</h1>
      <p class="lead">{{ building.name }}</p>
    </div>
  </div>
</div>

<ul style="list-style-type: none">
  {% for room in room_list %}
  <li>
    {{ room.number }}
  </li>
  <li>
    <ul>
      <li>
        {{ room.bedA }}
      </li>
      {% if room.bedB %}
      <li>
        {{ room.bedB }}
      </li>
      {% endif %}
      {% if room.bedC %}
      <li>
        {{ room.bedC }}
      </li>
      {% endif %}
      {% if room.bedD %}
      <li>
        {{ room.bedD }}
      </li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
