{% extends 'layouts/base.html' %}
{% block title %} SRCT Roomlist &bull; {{ room.floor.building.name }} {{ room.number }}{% endblock %}
{% block content %}
{% load cache %}
{% cache 15 room_students request.user.username room %}
{% load humanize %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12"><h3>
      <ol id="breadcrumbs" class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'list_buildings' %}">Buildings</a></li>
        <li><a href="{{ room.floor.building.get_absolute_url }}">{{ room.floor.building.name }}</a></li>
        <li><a href="{{ room.floor.get_absolute_url }}">{{ room.floor.number|ordinal }} Floor</a></li>
	<li class="active"><strong>Room {{ room.number }}</strong></li>
      </ol>
    </h3></div>
  </div>
</div>

{% load gravatar %}
<div class="student-row">
  <div class="row">
    {% for student in students %}
      <div class="col-sm-3 col-xs-6 text-center wordwrap">
        <img class="img-circle img-responsive center center-block profile-image"
             src="{{ student.profile_image_url }}"
             alt="{{ student.get_first_name_or_uname }} profile picture">
        <h4><strong>
          <a href="{{ student.get_absolute_url }}">{{ student.get_full_name_or_uname }}</a>
        </strong></h4>
        {% if student.is_staff %}
        <h4 class="text-info">{{ student.lead }}</h4>
        {% endif %}
        <h5><em>{% include 'double_major.html' %}</em></h5>
        {% if student.get_flag_count > 4 %}
          <p><em>* a number of other floormates say this info is incorrect</em></p>
        {% endif %}
        <br />
      </div>
    {% endfor %}
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-info text-center">
      <p><strong><em>
      {% if notOnFloor %}
      You don't live on this floor.
      Depending on individual privacy settings, not all students may be displayed.
      {% elif notInBuilding %}
      You don't live in this building.
      Depending on individual privacy settings, not all students may be displayed.
      {% else %}
      Don't see one of your roommates? Tell them about SRCT Roomlist!
      {% endif %}
      </em></strong></p>
    </div>
  </div>
</div>

<br />
<hr />
{% include 'disclaimer.html' %}

{% endcache %}
{% endblock content %}
