{% extends 'layouts/base.html' %}
{% block title %} SRCT RoomList &bull; {{ floor.building.name }} {{ floor.number }}{% endblock %}
{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>ROOMLIST</h1>
      <p class="lead"><strong>{{ floor.building.name }}{{ floor.number }}</strong></p>
    </div>
  </div>
</div>

<div class="row">
  {% for student in students %}
    {{ student }}
  {% endfor %}
</div>

{% endblock %}
