{% extends 'layouts/base.html' %}
{% block title %} SRCT RoomList &bull; {{ building.name }} {% endblock %}
{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</h1>
      <p class="lead"><strong>{{ building.name }}</strong></p>
    </div>
  </div>
</div>

<div class="row">
  {% for floor in floors %}
  <div class="col-sm-3 text-center">
    <a href="{{ floor.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ floor.number }}</a>
  </div>
  {% endfor %}
</div>

{% endblock %}
