{% extends 'layouts/base.html' %}
{% block title %}
SRCT RoomList &bull; Homepage
{% endblock %}
{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>ROOMLIST</h1>
      <p class="lead"><strong>Buildings</strong></p>
    </div>
  </div>
</div>

<legend><strong>Rappahannock</strong></legend>

<div class="row">
  {% for building in rappahannock %}
    <div class="col-sm-3 text-center">
      <a href="{{ building.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ building.name }}</a>
    </div>
  {% endfor %}
</div>

<br />

<legend><strong>Shenandoah</strong></legend>

<div class="row">
  {% for building in shenandoah %}
    <div class="col-sm-3 text-center">
      <a href="{{ building.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ building.name }}</a>
    </div>
  {% endfor %}
</div>

<br />

<legend><strong>Aquia</strong></legend>

{% endblock %}
