{% extends 'layouts/base.html' %}

{% block title %} SRCT Roomlist &bull; Neighborhoods {% endblock title %}

{% block og_metadata %}
<meta property="og:title" content="SRCT Roomlist Neighborhoods"/>
<meta property="og:description" content="Housing locations on SRCT Roomlist. Log in with your Mason username and password to find your on-campus neighbors."/>
{% endblock og_metadata %}

{% block tw_metadata %}
<meta name="twitter:title" content="SRCT Roomlist Neighborhoods" />
<meta name="twitter:description" content="Housing locations on SRCT Roomlist. Log in with your Mason username and password to find your on-campus neighbors." />
{% endblock tw_metadata %}

{% block content %}

{% include 'no_auth.html' %}

{% load cache %}
{% cache 3600 list_buildings %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12"><h3>
      <ol id="breadcrumb" class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li class="active"><strong>Buildings</strong></li>
      </ol>
    </h3></div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h3>
    &middot;
    {% for neighbourhood in buildings_by_neighbourhood %}
      <a href="#{{ neighbourhood }}">{{ neighbourhood }}</a> &middot;
    {% endfor %}
  </div>
</div>

{% for neighbourhood, buildings in buildings_by_neighbourhood.items %}
<legend><strong><a name="{{ neighbourhood }}" href="#{{ neighbourhood }}">{{ neighbourhood }}</a></strong></legend>

<div class="row">
  {% for building in buildings %}
  <div class="col-md-3 col-sm-6 text-center minor-padding">
    <a href="{{ building.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">
      {{ building.name }}
    </a>
  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>

<br />
{% endfor %}

<legend><a name="Unsupported" href="#Unsupported">Unsupported Buildings</a></legend>
<div class="row">
  <div class="col-md-12">
    <p>The following Mason housing locations are not currently supported:</p>
    <p>Beacon Hall, the Mason Global Center, and the Townhouses.</p>
  </div>
</div>

{% endcache %}
{% endblock %}
