{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList &bull; {{ room.floor.building.name }} {{ room.number }}
{% endblock title %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>SRCT</strong>ROOMLIST</h1>
      <p class="lead"><strong>Buildings</strong></p>
    </div>
  </div>
</div>

<legend><strong><a name="Rappahannock" href="#Rappahannock">Rappahannock</a></strong></legend>

<div class="row">
  {% for building in rappahannock %}
  <div class="col-sm-3 text-center">
    <a href="{{ building.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ building.name }}</a>
  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
<br />
<div class="row">
  {% endif %}
  {% endfor %}
</div>

<br />

<legend><strong><a name ="Shenandoah" href="#Shenandoah">Shenandoah</a></strong></legend>

<div class="row">
  {% for building in shenandoah %}
  <div class="col-sm-3 text-center">
    <a href="{{ building.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">{{ building.name }}</a>
  </div>
  {% if forloop.counter|divisibleby:4 %}
</div>
<br />
<div class="row">
  {% endif %}
  {% endfor %}
</div>

<br />

<legend><strong><a name="Aquia" href="#Aquia">Aquia</a></strong></legend>
<div class="row">
</div>

{% endblock %}
