{% extends 'layouts/base.html' %}
{% block title %}
GMU RoomList &bull; Homepage
{% endblock %}
{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>ROOMLIST</h1>
      <p class="lead">Building List</p>
    </div>
  </div>
</div>

<ul>
  {% for building in buildings %}
  <li>
      <a href="/housing/buildings/{{ building.name }}">{{ building.name }}</a> - {{ building.address }} {{ building.address.zip_code }}, {{ building.address.state}}
  </li>
  {% endfor %}
</ul>

{% endblock %}
