{% extends 'layouts/base.html' %}
{% block title %} SRCT Roomlist &bull; Homepage {% endblock title %}

{% block content %}

{% load gravatar %}
{% load humanize %}

{% load cache %}
{% cache 15 landing request.user.username %}

<h2>Welcome
{% if not me.is_noob %}
Back,
{% endif %}
{{ me.get_first_name_or_uname }}!</h2>
<hr/>

{% if me.on_campus %}

{% if not me.room and me.on_campus %}
<h3><em>
  <a href="{% url 'update_student' request.user.username %}">Select your room</a>,
  and we'll show you the other students on your floor.
</em></h3>
{% else %}

  {% if roomies|length == 1 %}
    <h3>Your Roommate in {{ me.room }}</h3>
    <hr/>
  {% else %}
    <h3>Your Roommates in <a href="{{ me.room.get_absolute_url }}">{{ me.room }}</a></h3>
    <hr/>
  {% endif %}

<div class="student-row">
  <div class="row">
    {% for student in roomies %}
      <div class="col-sm-3 col-xs-6 text-center wordwrap">
        <img class="img-circle img-responsive center center-block profile-image"
             src="{{ student.profile_image_url }}"
             alt="{{ student.get_first_name_or_uname }} profile picture"></img>
        <h4><strong>
          <a href="{{ student.get_absolute_url }}">{{ student.get_full_name_or_uname }}</a>
        </strong></h4>
        <h5><em>{% include 'double_major.html' %}</em></h5>
      </div>
    {% empty %}
      <div class="col-md-12">
        <h4>There are no other students registered in your room right now.</h4>
      </div>
    {% endfor %}
  </div>
</div>

<h3>Your Floormates from
  <a href="{{ me.room.floor.get_absolute_url }}">
  {{ me.room.floor.building }} {{ me.room.floor.number|ordinal }}</a>
</h3>
<hr/>

<div class="student-row">
  <div class="row">
    {% for student in floories %}
      <div class="col-md-3 col-xs-6 text-center wordwrap">
        <img class="img-circle img-responsive center center-block profile-image"
             src="{{ student.profile_image_url }}"
             alt="{{ student.get_first_name_or_uname }} profile picture">
        <h4><strong>
          <a href="{{ student.get_absolute_url }}">{{ student.get_full_name_or_uname }}
        </strong></h4>
        <h5><em>{% include 'double_major.html' %}</em></h5>
        <h5><a href="{{ student.room.get_absolute_url }}">{{ student.room }}</h5></a>
      </div>
    {% empty %}
      <div class="col-md-12">
        <h4>There are no other students registered on your floor right now.</h4>
      </div>
    {% endfor %}
  </div>
</div>

{% endif %}  {% comment %} else not me.room and me.oncampus {% endcomment %}
{% endif %}  {% comment %} else me.oncampus {% endcomment %}
{% endcache %}

{% load accounts_extras %}

{% cache 120 landing_majors request.user.username %}
{% if not me.major.all %}
  <h3><em>
    <a href="{% url 'update_student' request.user.username %}">Set your major</a>,
    and we'll show you some of the other students in your program.
  </em></h3>
{% else %}
  {% for major, students in majormates.items %}
    <h3>Other Students in <a href="{{ major.get_absolute_url }}">{{ major.name }}</a></h3>
    <hr />
    <div class="student-row">
      <div class="row">
        {% for student in students %}
        <div class="col-sm-3 col-xs-6 text-center wordwrap">
          <img class="img-circle img-responsive center center-block profile-image"
               src="{{ student.profile_image_url }}"
               alt="{{ student.get_first_name_or_uname }} profile picture">
          <h4><strong>
            <a href="{{ student.get_absolute_url }}">{{ student.get_full_name_or_uname }}</a>
          </strong></h4>
          <h5>{{ student.graduating_year|bc }}</h5>
        </div>
        {% empty %}
          <div class="col-md-12">
            <h4>There are no other students registered in your major right now.</h4>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endif %}

<br />
<hr />
{% include 'disclaimer.html' %}

{% endcache %}
{% endblock %}
