{% extends 'layouts/base.html' %} {% block title %} GMU RoomList &bull; Login {% endblock %} {% block content %}

<link href="/static/css/signin.css" rel="stylesheet" media="screen">

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>GMU</strong>ROOMLIST</h1>
      <p class="lead">{{ building.name }}</p>
    </div>
  </div>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="form-signin" role="form" action="/accounts/login/" method="post">
  {% csrf_token %}

  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="username" class="sr-only">Username</label>
  {{form.username}}
  <label for="inputPassword" class="sr-only">Password</label>
  {{form.password}}
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <input type="hidden" name="next" value="/" />
</form>

{% endblock %}
