{% extends 'layouts/base.html' %}

{% block title %}
SRCT Roomlist &bull; Privacy Policy
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Roomlist is a service provided by the
        <a href="https://getconnected.gmu.edu/organization/srct">registered student organization</a>
        <a href="https://srct.gmu.edu/">Student-Run Computing and Tech</a> where students
        can voluntarily sign in and browse or share their information to create a campus
        housing directory. To provide this service, we collect and store user information.
        We hope this privacy policy is straightforward and understandable. Please
        <a href="https://srct.gmu.edu/contact">contact</a> us with any questions,
        comments, or concerns.
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Who can see my information?</h2>
    <p>
      Roomlist was designed with student privacy foremost in mind. First, all information
      is accessible only to users with full
      <a href="https://www.gmu.edu/">George Mason University</a> (“Mason”, “the university”)
      credentials. When your account is created, you have the option to make your housing
      and social media information viewable to your <strong>floor</strong> (the default
      choice), your entire <strong>building</strong>, or <strong>campus</strong>-wide.
      When you choose to make your housing information viewable campus-wide, it is also
      viewable to non-residents or those who have elected not to provide their housing
      information.
    </p>
    <p>
      Your initial profile information is as provided through the university’s
      <a href="https://peoplefinder.gmu.edu/">Peoplefinder directory</a>, and while only
      the university may make changes to your name, major, or email as provided by this
      service, you are welcome to change your name or major as displayed on this site
      through your settings page. Please visit Peoplefinder’s site for more information,
      including removal of your information from Peoplefinder.
    </p>
    <p>
      To close a rather straightforward privacy loophole, you can only change your room
      a limited number of times a year, after which you will need to
      <a href="mailto:roomlist@lists.srct.gmu.edu?Subject=I%20Don%27t%20Know%20Where%20I%20Live%3A%20Halp%20Pls">email us</a>.
    </p>
  </div>
  <div class="col-lg-6">
    <h2>What data do we collect?</h2>
    <p>
      We permanently retain log information of your use of this website via
      <a href="https://piwik.org/">Piwik analytics</a>, as well as through server logs.
      Piwik is <a href="https://piwik.org/privacy/">open source and self-hosted</a>, so your
      information will not be sold or otherwise transferred to any other third party,
      except in ways outlined below.
    </p>
    <p>
      Information includes things like where you came from, when you last signed in,
      which pages you visit, how long you stay, and where you click on the page.
      Because we use the university’s Central Authentication Service for authentication, 
      a record of your visit may be retained by Mason.
    </p>
    <p>
      To verify your social media accounts, you will be asked to sign in, but this is
      solely to ensure the linked account actually belongs to you (e.g. not
      <a href="https://twitter.com/realDonaldTrump">@realDonaldTrump</a>). With the
      exception of your choice to use your Facebook profile picture as your profile
      picture on this service, we don’t use any information from these third-party sites.
    </p>
    <p>
      Housing information you choose to provide, along with optional social media account
      information will be retained until you modify your information, or your account is
      deleted. (Please note deleting social media links removes them only from our services,
      and may not immediately remove them from the social media site’s servers. View your
      related social media account’s settings page for more details.)
    </p>
  </div>
  <div class="col-lg-6">
    <h2>Why do we collect data?</h2>
    <p>
      Knowing how many users a service has and how often it gets used tells us how popular
      that service is, along with helping us determine how users use that service and how
      we might best improve it. There is an
      <a href="https://en.wikipedia.org/wiki/Usability_testing">entire fascinating field</a>
      devoted to this area, and you can
      <a href="https://cs.gmu.edu/~offutt/#Research">sign up for classes</a> to learn
      more! Collecting access information also allows us to prevent or halt malicious
      or illegal use of our service.
    </p>
    <p>
      If a service is getting a lot of use, we will try to provide more support and focus
      our attention on that service. Our use of your information, both log data and the
      information you choose to post, is limited to improving your experience. Select
      site administrators may occasionally view some user data in their efforts to
      maintain and improve the site. We may note anonymized statistics publicly as part
      of our promotional or educational efforts. Your information will not be otherwise
      divulged, except by request of the university of by lawful court order (an "order").
      <strong>Ever</strong>.
    </p>
    <p>
      The code for this site is publicly available at our
      <a href="https://git.gmu.edu/srct/roomlist">git repository</a>, and you are
      encouraged to exercise your
      <a href="https://www.gnu.org/philosophy/free-sw.html">basic computing freedoms</a>.
      If you have any questions about any part of the code base, you are encouraged to
      attend one of <a href="https://srct.gmu.edu/calendar">our meetings</a> or email us at
      <a href="mailto:roomlist@lists.srct.gmu.edu">roomlist@lists.srct.gmu.edu</a> and we
      will be happy to answer your questions.
    </p>
  </div>
  <div class="col-lg-6">
    <h2>What happens to my information?</h2>
    <p>
      Any interaction you post to site can be removed at your discretion. Please see your
      account settings page to limit your visibility to other students, remove social media
      links. Basic information obtained from the university, such as your username and email
      address, cannot be changed. The name and major associated with your username from
      Peoplefinder are stored for both for analytics and should any problem arise with
      your account.
    </p>
    <p>
      Your information may be removed if it is in violation of Mason's
      <a href="https://http://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">responsible use of computing policy</a>,
      <a href="https://srct.gmu.edu/documents/usage_policy/">SRCT terms of service</a>,
      or other order, or upon graduation or other termination of relationship with the
      university and the end of your full access GMU account.
    </p>
    <p>
      If you wish to delete your account, please email us at
      <a href="mailto:roomlist@lists.srct.gmu.edu">roomlist@lists.srct.gmu.edu</a> or
      contact SRCT <a href="https://srct.gmu.edu/contact">directly</a>.
    </p>
    <p>
      To reduce the load on our servers, nearly every page is cached, and it may take
      a few moments for changes to be reflected.
    <p>
      Because we make regular database backups, your information may be retained for a
      time after you modify it.
    </p>
    </p>
  </div>
  <div class="col-lg-12">
    <h2>Other information</h2>
    <p>
      Should any portion of this privacy policy be deemed invalid, illegal,
      or unenforceable, all other terms of the policy will nevertheless
      remain in full force and effect.
      No portion of this policy or SRCT's user policy supercedes any university policy.
      Because our service requires GMU user account authentication, we do
      not by design allow minors under the age of 13 to use services.
      Our services are housed in Fairfax, Virginia, United States an are
      subject to law within its jurisdiction.
      We may revice this policy; when we make, at our discretion, a
      significant change, we will display a prominent link to the change on
      the front page of the site, and provide a reasonable amount of time for
      users take action accordingly.
      Nothing in this privacy policy should be construed to limit any legal defense or
      object to an order to disclose your information.
    </p>
  </div>
</div>

{% endblock %}
