/* Sticky footer styles */

html,
body {
  height: 95%;
}
#contentcontain {
  padding-top: 45px;
  display: inline-block;
  vertical-align: top;
}
/* Wrapper for page content to push down footer */

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */

  margin: 0 auto -30px;
  /* Pad bottom by footer height */

  padding: 0 0 30px;
}
/* Set the fixed height of the footer here */

#footer {
  height: 30px;
}
.jumboindex {
  background: url(/static/img/North_Section_of_Presidents_Park_Dorms.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 20px #333;
  color: white;
  text-shadow: 2px 2px 4px #000;
  padding-top: 75px;
  padding-bottom: 75px;
}
.jumboabout {
  background: url(/static/img/Campus_Dorms_East_side_of_Campus.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 0px 0px 20px #333;
  color: white;
  text-shadow: 2px 2px 4px #000;
  padding-top: 75px;
  padding-bottom: 75px;
}
.license img {
  position: absolute;
  bottom: 8px;
  right: 15px;
}
.container-padding {
  padding-top: 30px;
}
#get-started {
  border-radius: 10px;
  margin-top: 9%;
  width: 250px;
  height: 75px;
  font-size: 20pt;
  border-bottom: 5px solid #005030;
  box-shadow: 0px 0px 8px #222;
  outline: none;
}

#get-started:hover,#get-started.active:focus, #get-started:focus {
color: #fff;
background-color: #005937;
outline: none;
}

#get-started:active, #get-started.active {
color: #fff;
background-color: #005030;
border-top:5px solid #005030;
box-shadow: 0px 0px 6px #222;
outline-offset: none;
}

#get-started:focus,
#get-started:active:focus,
#get-started.active:focus {
    outline: none;
    outline-offset: 0px;
}
