<html>
  <head>
    <title>Welcome to Roomlist, {{ student_name }}</title>
    <style type="text/css">
      body { font-family: "Verdana", sans-serif; }
      a { color:#006633; }
      a:active { color:#FFCC33; }
      a:visited { color: #004C25; }
    </style>
  </head>
  <body>
    <p>Dear {{ student_name }},</p>
    <br />
    <p>Thank you for signing up for
       <a href="https://roomlist.gmu.edu/">Roomlist</a>, and welcome!</p>
    <p>We hope you'll find this service beneficial to your time here at Mason.</p>
    <p>If you have any questions, don't hesitate to send us an email to
       <a href="mailto:roomlist@srct.gmu.edu">roomlist@srct.gmu.edu</a>
       or stop by one of our student org's
       <a href="https://srct.gmu.edu/calendar/">weekly meetings</a>.
       We would love to hear your feedback.</p>
    <p>Have a <strong>great</strong> {{ semester }} semester!</p>
    <p>:-)</p>
    <br />
    <p>---</p>
    <p>Mason SRCT</p>
    <p>
    <small><a href="https://srct.gmu.edu/">SRCT</a> is a
    <a href="https://getconnected.gmu.edu/organization/srct">
    registered student organization</a> at
    <a href="https://www2.gmu.edu/">George Mason University</a>. We have written and
    provide this project for the benefit of our school's community, but offer no
    claims to the accuracy of the information provided on our site by other student
    users. We are not affiliated with Mason Housing. The source code for this project
    is available and
    <a href="https://www.gnu.org/licenses/gpl-3.0.html/">freely licensed</a> at
    <a href="https://git.gmu.edu/srct/roomlist/">git.gmu.edu/srct/roomlist</a>.</small>
    </p>
  </body>
</html>
