{% extends 'layouts/base.html' %}

{% block title %} SRCT RoomList | Welcome | Step 1 of 4 {% endblock %}

{% block message_queue %}
{% endblock %}

{% block content %}

{% load accounts_extras %}

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
    <span class="sr-only">25% complete</span>
  </div>
</div>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Welcome to <strong>SRCT</strong>ROOMLIST! <small>Step 1 of 4</small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p class="text-center">Welcome to Roomlist, and thank you for signing in! Let's get started by verifying your name and then optionally selecting a gender identity.<p>
    <p class="text-center"></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><strong>Name & Gender</strong></h1>
      </div>
      {% if error in my_form.non_field_errors %}
      <ul class="text-center">
        {% for error in my_form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="panel-body">
        <form class="form-horizontal" autocomplete="off" action="" method="post">{% csrf_token %}
          <fieldset>
          <div class="form-group">
            <label for="{{ my_form.first_name.id_for_label }}" class="col-md-2">First Name</label>
              <div class="col-md-4">
                {% if not my_form.first_name.errors %}
                  {{ my_form.first_name }}
                {% else %}
                  <div class="has-error">
                    {{ my_form.first_name }}
                    <p>{{ form.first_name.errors }}</p>
                  </div>
                {% endif %}
              </div>
            <label for="{{ my_form.last_name.id_for_label }}" class="col-md-2">Last Name</label>
              <div class="col-md-4">
                {% if not my_form.last_name.errors %}
                  {{ my_form.last_name }}
                {% else %}
                  <div class="has-error">
                    {{ my_form.last_name }}
                    <p>{{ form.last_name.errors }}</p>
                  </div>
                {% endif %}
              </div>
          </div>

          <div class="form-group">
            <label for="{{ my_form.gender.id_for_label }}" class="col-md-3">
              Gender Identity<br />(choose all that apply)
            </label>
              {% for checkbox in my_form.gender %}
                <div class="checkbox col-md-3">
                  <label for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label|gender_icon }}
                    {{ checkbox.tag }}
                </div>
              {% endfor %}
          </div>

          <div class="form-group">
            <label for "{{ my_form.show_gender.id_for_label }}" class="col-md-3">
              Show Gender on Profile?
            </label>
              {% for radio in my_form.show_gender %}
                <label class="radio-inline">{{ radio.choice_label }}{{ radio.tag }}</label>
              {% endfor %}
          </div>

          </fieldset>
          <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="alert alert-danger" role="alert">
      <p><i class="fa fa-exclamation-circle fa-fw fa-lg"></i> <strong>Changing your name here serves only to make it easier for others to find you on this particular site.</strong></p>
      <p>Talk with the Registrar's Office to handle the paperwork necessary to change your name officially with the university.</p>
    </div>
  </div>
</div>


{% endblock %}
