<html>
  <head>
    <title>You successfully deleted your account on Roomlist</title>
    <style type="text/css">
      body { font-family: "Verdana", sans-serif; }
      a { color:#006633; }
      a:active { color:#FFCC33; }
      a:visited { color: #004C25; }
    </style>
  </head>
  <body>
    <p>Dear {{ student_name }},</p>
    <br />
    <p>We have removed your account from Roomlist.</p>
    <p>{{ special_message }}</p>
    <p>:-)</p>
    <br />
    <p>---</p>
    <p>Mason SRCT</p>
    <p>
    <small><a href="https://srct.gmu.edu/">SRCT</a> is a
    <a href="https://getconnected.gmu.edu/organization/srct">
    registered student organization</a> at
    <a href="https://www2.gmu.edu/">George Mason University</a>. We have written and
    provide this project for the benefit of our school's community, but offer no
    claims to the accuracy of the information provided on our site by other student
    users. We are not affiliated with Mason Housing. The source code for this project
    is available and
    <a href="https://www.gnu.org/licenses/gpl-3.0.html/">freely licensed</a> at
    <a href="https://git.gmu.edu/srct/roomlist/">git.gmu.edu/srct/roomlist</a>.</small>
    </p>
  </body>
</html>
