<html>
  <head>
    <title>Feedback from Roomlist account deletion</title>
    <style type="text/css">
      body { font-family: "Verdana", sans-serif; }
      a { color:#006633; }
      a:active { color:#FFCC33; }
      a:visited { color: #004C25; }
    </style>
  </head>
  <body>
    <p>Roomlist developers:</p>
    <br />
    <p>{{ student_name }} has removed their account from Roomlist, and offers
       this feedback.</p>
    <blockquote>
      <p>{{ feedback }}</p>
    </blockquote>
    <p>They joined our service on {{ signup_date }}. They are {{ leaving }}
       departing Mason.</p>
    <br />
    <p>Hopefully we can use this information when continuing to improve our service.</p>
  </body>
</html>
