{% load socialaccount %}

{% get_social_accounts request.user as accounts %}

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title text-center"><strong>Social Media Settings</strong></h1>
    </div>
    <div class="panel-body">
      <p class="text-center">Verify your social media accounts to link them to other students.</p>
      <div class="row text-center">
        <div class="col-xs-6">
          <h4><i class="fa fa-facebook fa-2x"></i></h4>
          <h4>
          {% if accounts.facebook %}
          <a href="{% url 'remove_social' request.user.username 'facebook' %}">
            <strong>Facebook <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'facebook' process='connect' %}">
            Facebook <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
        <div class="col-xs-6">
          <h4><i class="fa fa-google fa-2x"></i></h4>
          <h4>
          {% if accounts.google %}
          <a href="{% url 'remove_social' request.user.username 'google' %}">
            <strong>Google <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'google' process='connect' %}">
            Google <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6">
          <h4><i class="fa fa-twitter fa-2x"></i></h4>
          <h4>
          {% if accounts.twitter %}
          <a href="{% url 'remove_social' request.user.username 'twitter' %}">
            <strong>Twitter <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'twitter' process='connect' %}">
            Twitter <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
        <div class="col-xs-6">
          <h4><i class="fa fa-instagram fa-2x"></i></h4>
          <h4>
          {% if accounts.instagram %}
          <a href="{% url 'remove_social' request.user.username 'instagram' %}">
            <strong>Instagram <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'instagram' process='connect' %}">
            Instagram <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6">
          <h4><i class="fa fa-pinterest-p fa-2x"></i></h4>
          <h4>
          {% if accounts.pinterest %}
          <a href="{% url 'remove_social' request.user.username 'pinterest' %}">
            <strong>Pinterest <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'pinterest' process='connect' %}">
            Pinterest <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
        <div class="col-xs-6">
          <h4><i class="fa fa-tumblr fa-2x"></i></h4>
          <h4>
          {% if accounts.tumblr %}
          <a href="{% url 'remove_social' request.user.username 'tumblr' %}">
            <strong>Tumblr <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'tumblr' process='connect' %}">
            Tumblr <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6">
          <h4><i class="fa fa-spotify fa-2x"></i></h4>
          <h4>
          {% if accounts.spotify %}
          <a href="{% url 'remove_social' request.user.username 'spotify' %}">
            <strong>Spotify <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'spotify' process='connect' %}">
            Spotify <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
        <div class="col-xs-6">
          <h4><i class="fa fa-github fa-2x"></i></h4>
          <h4>
          {% if accounts.github %}
          <a href="{% url 'remove_social' request.user.username 'github' %}">
            <strong>Github <i class="fa fa-check-square-o"></i></strong>
          </a>
          {% else %}
          <a href="{% provider_login_url 'github' process='connect' %}">
            Github <i class="fa fa-square-o"></i>
          </a>
          {% endif %}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
